{% extends "cafe/base.html" %}

{% load static %}

{% block title %}
Place Order
{% endblock title %}

{% block content %}
<header>
    <h1>Place an Order</h1>
</header>
<form method="post">
    {% csrf_token %}
    <div class="products">
        {% for product in products %}
        <div class="product">
            <input type="checkbox" id="product_{{ product.id }}" name="product-quantity" value="{{ product.id }}:0">
            <label for="product_{{ product.id }}">
                {{ product.name }} - ${{ product.price }}
                <input type="number" min="1" max="20" value="1" oninput="updateQuantity(this, '{{ product.id }}')">
            </label>
        </div>
        {% endfor %}
    </div>
    <button type="submit">Submit Order</button>
</form>
{% endblock content %}

{% block extra_js %}
<script>
    function updateQuantity(element, productId) {
        var checkbox = document.getElementById('product_' + productId);
        if (element.value > 0) {
            checkbox.value = productId + ':' + element.value;
            checkbox.checked = true;
        } else {
            checkbox.checked = false;
            checkbox.value = productId + ':0';  // Set to zero instead of empty to ensure a valid integer
        }
    }
</script>
{% endblock extra_js %}
